name: "Tests"
on:
  pull_request:
  push:
    paths:
      - '**.cpp'
      - '**.hpp'
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix develop .#verte-dev --impure --command excerpt-tests
